.icon_sec{

    display: block;
    width: 100%;
    display: block;
    width: 100%;
    position: relative;
    border-bottom: 1px solid #ccc;
    box-shadow:0px 15px 10px -15px #c3bdbd;
    float: left;
    paddin:10px;
}
.step-item p{
    font-size: 14px;
    font-weight: normal;
    line-height: 22px;
    color: #676767;
}
.nopad{
  padding:0;
}

.owl-item { transform: translateZ(0); -webkit-transform: translateZ(0); -ms-transform: translateZ(0); -o-transform: translateZ(0); -moz-transform: translateZ(0); -webkit-transition: all 0.3s ease-out 0s; -moz-transition: all 0.3s ease-out 0s; -ms-transition: all 0.3s ease-out 0s; -o-transition: all 0.3s ease-out 0s; transition: all 0.3s ease-out 0s; }
.owl-carousel .owl-item img { width: auto; }
.owl-carousel .owl-nav { display: block; position: absolute; text-indent: inherit; top: 45%; transform: translateY(-50%); -webkit-transform: translateY(-50%); -o-transform: translateY(-50%); -ms-transform: translateY(-50%); -moz-transform: translateY(-50%); left: 0; width: 100%; cursor: pointer; z-index: 999; opacity: 0; }
.owl-carousel .owl-nav .owl-prev { display: block; position: absolute; text-indent: inherit; left: 0px; width: auto; cursor: pointer; -webkit-transition: opacity 0.3s ease 0s, left 0.3s ease 0s; -moz-transition: opacity 0.3s ease 0s, left 0.3s ease 0s; -ms-transition: opacity 0.3s ease 0s, left 0.3s ease 0s; -o-transition: opacity 0.3s ease 0s, left 0.3s ease 0s; transition: opacity 0.3s ease 0s, left 0.3s ease 0s; }
.owl-carousel .owl-nav .owl-next { display: block; position: absolute; text-indent: inherit; right: 0px; width: auto; cursor: pointer; -webkit-transition: opacity 0.3s ease 0s, right 0.3s ease 0s; -moz-transition: opacity 0.3s ease 0s, right 0.3s ease 0s; -ms-transition: opacity 0.3s ease 0s, right 0.3s ease 0s; -o-transition: opacity 0.3s ease 0s, right 0.3s ease 0s; transition: opacity 0.3s ease 0s, right 0.3s ease 0s; }
.owl-carousel .owl-nav .owl-prev i { padding-left: 0px; }
.owl-carousel .owl-nav i { font-size: 20px; border-radius: 3px; width: 44px; height: 44px; line-height: 42px; padding-left: 2px; display: inline-block; color: #db2d2e; background: #ffffff; border: 1px solid #e3e3e3; font-weight: normal; text-align: center; -webkit-transition: all 0.3s ease-out 0s; -moz-transition: all 0.3s ease-out 0s; -ms-transition: all 0.3s ease-out 0s; -o-transition: all 0.3s ease-out 0s; transition: all 0.3s ease-out 0s; }
.owl-carousel .owl-nav i:hover { background: #db2d2e; color: #fff; border-color: #db2d2e; }
.owl-carousel:hover .owl-nav { opacity: 1; }
.owl-carousel:hover .owl-nav .owl-prev { left: -4%; }
.owl-carousel:hover .owl-nav .owl-next { right: -4%; }
.owl-theme .owl-controls { margin-top: 0px; }
.owl-carousel .owl-controls .owl-dot { display: inline-block; }
.owl-carousel .owl-dots { display: inline-block; position: relative; text-indent: inherit; width: 100%; cursor: pointer; text-align: center; margin-top: 20px; }
.owl-carousel.owl-theme .owl-dots .owl-dot span { background: #1e2327; border-radius: 30px; display: inline-block; width: 10px; height: 10px; margin: 0px 3px; transition: all 0.5s ease-in-out; -webkit-transition: all 0.5s ease-in-out; -o-transition: all 0.5s ease-in-out; -moz-transition: all 0.5s ease-in-out; -ms-transition: all 0.5s ease-in-out; cursor: pointer; }
.owl-carousel.owl-theme .owl-dots .owl-dot:hover span { background: #e93e21; }
.owl-carousel.owl-theme .owl-dots .owl-dot.active span { background: #e93e21; width: 24px; }
.owl-carousel[data-dotcolor='white'] .owl-dots .owl-dot span { background: #fff; }
.owl-carousel[data-dotcolor='white'] .owl-dots .owl-dot.active span, .owl-carousel[data-dotcolor='white'] .owl-dots .owl-dot span:hover { background: #e93e21; }
.our-clients .owl-carousel .owl-item img { width: auto; }
.center-block { display: block; margin-left: auto; margin-right: auto; }
.our-clients .owl-item { cursor: url("../images/client-arrow.png") 25 25, pointer; padding: 0 15px; }





.list-inline li a i{
  
    line-height:50px;

}
.about {
  position: ;
  width: 100%;
  float:left;
}
.special-menu{
  position: ;
  width: 100%;
  float:left;
}
.our-menu{
  position: relative ;
  width: 100%;
  float:left;
}
.newsletter-section{
  background: #e93e21;
    float: left;
    width: 100%;
}
/*************************
     object
*************************/
.object-bottom-top { position: relative; height: 100%; width: 100%; }
.object-bottom-top .object-right { position: absolute; right: 0px; top: 0px; }
.object-top-bottom { position: absolute; height: 100%; width: 100%; }

.object-top-bottom .object-right { position: absolute; right: 0px; bottom: 0px; }
.object-top { position: absolute; height: 100%; width: 100%; }

.object-top .object-right { position: absolute; right: 0px; top: 0px; }
.object-bottom { position: absolute; height: 100%; width: 100%; bottom: 0; }
.object-bottom .object-right { position: absolute; right: 0px; bottom: 0px; }

.book-menu  .object-left{    position: absolute;
  left: 0px;
  margin: 105px 0 0;}

.fixed { position: relative; z-index: 1; }
.parallax { overflow: hidden; position: relative; z-index: 1; background-size: cover; background-attachment: fixed; background-position: center center; }
.our-menu .tabs { padding: 0; font-size: 13px; position: relative; z-index: 99; }
.tabs ul.tabs-link { overflow: hidden; margin: 0; padding: 0px; margin-bottom: 80px;padding-top:50px; }
.tabs ul.tabs-link li { display: inline-block; position: relative; color: #ffffff; padding-right: 60px; font-family: 'Amatic SC', cursive; font-weight: normal; font-size: 40px; text-align: center; position: relative; cursor: pointer; transition: all 0.5s ease-in-out; -webkit-transition: all 0.5s ease-in-out; -o-transition: all 0.5s ease-in-out; -ms-transition: all 0.5s ease-in-out; -moz-transition: all 0.5s ease-in-out; }
.tabs ul.tabs-link li a { color: #333; font-weight: bold; }
.tabs ul.tabs-link.white li a { color: #333; }
.tabs ul.tabs-link li:last-child { padding-right: 0px; }
.tabs ul.tabs-link li i:before { font-size: 40px; padding-right: 15px; }
.tabs ul.tabs-link li a:hover, .our-menu  .tabs ul.tabs-link li.active a { color: #e93e21; }

/*tab-page*/
.tab-page .tabs ul.tabs-link { margin-bottom: 20px; }
.tab-page .tabs ul.tabs-link.white li.active a { color: #e93e21; }
.menu-body { text-align: center; }

.menu-body .menu-thumbnail { margin-bottom: 25px; }
.menu-body .menu-title { margin-bottom: 20px; }
.menu-body .menu-title h4 { color: #fff; }
.menu-body .h4_st h4 { color: #333; }
.menu-body .menu-details .price { color: #e93e21; font-size: 30px; font-family: 'Amatic SC', cursive; line-height: 40px; font-weight: 600; }
.menu-body p { color: #333; }

/*menu whitebg*/
.menu-body.menu-white .menu-title h4, .menu-body.menu-white p { color: #1e2327; }

/*menu left*/
.menu-body.menu-left { text-align: left; }
.menu-body.menu-left .menu-thumbnail { float: left; margin-right: 20px; width: 100px; margin-bottom: 0; }
.menu-body.menu-left .menu-details { display: table-cell; }
.menu-body.menu-left .menu-title { display: block; border-bottom: 1px dashed #d41010; padding-bottom: 10px; }
.menu-body.menu-left .menu-title h4 { display: inline-block; }
.menu-body.menu-left .menu-details .price { float: right; color: #e93e21; }

/*menu right*/
.menu-body.menu-right .menu-thumbnail { float: right; margin-right: 0px; margin-left: 20px; width: 150px; }
.menu-body.menu-right .menu-details { display: table-cell; }
.menu-body.menu-right .menu-title { display: block; border-bottom: 2px dotted #909090; padding-bottom: 10px; }
.menu-body.menu-right .menu-details .price { float: left; }
.menu-body.menu-right .menu-title h4 { float: right; }
.menu-body.menu-right .menu-description { text-align: right; }
.menu-body.menu-left.simple .menu-details { width: 100%; display: table; }
.menu-body.menu-left.simple .menu-title { margin-bottom: 0px; padding-bottom: 0px; }
.menu-body.menu-left.simple .menu-title span { font-size: 22px; }
.menu-body.menu-left.simple .menu-description p { font-style: italic; margin-top: 10px; }

/*menu list page*/
.menu-list-bg { height: 250px; position: relative; z-index: 1; background-repeat: no-repeat; background-position: center center; background-attachment: fixed; background-size: cover; }
.menu-list-bg .container { display: table; height: 100%; position: relative; }
.menu-list-bg .content-text { display: table-cell; vertical-align: middle; }
.menu-list-bg .content-text h2 { font-size: 50px; line-height: 50px; color: #fff; }

.newsletter-section { padding: 20px 0px 10px; }
.newsletter-section .form-group { width: 100%; }
.newsletter-section .form-control { background: #fff; width: 100%; border-radius: 3px; }
.newsletter-section .button.black { padding: 14px 30px; }
.newsletter-section .button.black:hover, .newsletter-section .button.black:focus { color: #e93e21; }
.newsletter-section .button.black:before { color: #e93e21; background: #ffffff; }
.newsletter-section .newsletter-image { position: relative; }
.newsletter-section .newsletter-title { margin-top: 44px; }
.orange-bg {
    background: #e93e21;
}
.text-white{
    color:#fff;
    
    font-weight: 900;
}
.form-control {
    border-radius: 0px;
    height: 39px;
    line-height: 1.33333;
    background: transparent;
    color: #aaaaaa;
    border: 0px solid transparent;
}
.button.black { background: #1e2327; color: #ffffff; }
.button.black:hover, .button.black:focus { color: #ffffff; }
.button.black:before { color: #ffffff; background: #e93e21; }
.button {background: #e93e21;color: #ffffff;padding: 10px 30px;border-radius: 3px;border: none;display: inline-block;vertical-align: middle;-webkit-transform: perspective(1px) translateZ(0);transform: perspective(1px) translateZ(0);-o-transform: perspective(1px) translateZ(0);transform: perspective(1px) translateZ(0);-ms-transform: perspective(1px) translateZ(0);transform: perspective(1px) translateZ(0);-moz-transform: perspective(1px) translateZ(0);transform: perspective(1px) translateZ(0);box-shadow: 0 0 1px transparent;position: relative;-webkit-transition-property: color;transition-property: color;-o-transition-property: color;transition-property: color;-ms-transition-property: color;transition-property: color;-moz-transition-property: color;transition-property: color;-webkit-transition-duration: 0.3s;transition-duration: 0.3s;-o-transition-duration: 0.3s;transition-duration: 0.3s;-moz-transition-duration: 0.3s;transition-duration: 0.3s;-ms-transition-duration: 0.3s;transition-duration: 0.3s;}
.button:hover, .button:focus { color: #ffffff; }
.button:before { content: ""; border-radius: 3px; position: absolute; z-index: -1; top: 0; left: 0; right: 0; bottom: 0; background: #1e2327; -webkit-transform: scaleY(0); transform: scaleY(0); -o-transform: scaleY(0); transform: scaleY(0); -ms-transform: scaleY(0); transform: scaleY(0); -moz-transform: scaleY(0); transform: scaleY(0); -webkit-transform-origin: 50% 100%; transform-origin: 50% 100%; -moz-transform-origin: 50% 100%; transform-origin: 50% 100%; -ms-transform-origin: 50% 100%; transform-origin: 50% 100%; -o-transform-origin: 50% 100%; transform-origin: 50% 100%; -webkit-transition-property: transform; transition-property: transform; -o-transition-property: transform; transition-property: transform; -ms-transition-property: transform; transition-property: transform; -moz-transition-property: transform; transition-property: transform; -webkit-transition-duration: 0.3s; transition-duration: 0.3s; -o-transition-duration: 0.3s; transition-duration: 0.3s; -ms-transition-duration: 0.3s; transition-duration: 0.3s; -moz-transition-duration: 0.3s; transition-duration: 0.3s; -webkit-transition-timing-function: ease-out; transition-timing-function: ease-out; -o-transition-timing-function: ease-out; transition-timing-function: ease-out; -moz-transition-timing-function: ease-out; transition-timing-function: ease-out; -ms-transition-timing-function: ease-out; transition-timing-function: ease-out; }
.button:hover:before { -webkit-transform: scaleY(1); transform: scaleY(1); -o-transform: scaleY(1); transform: scaleY(1); -ms-transform: scaleY(1); transform: scaleY(1); -moz-transform: scaleY(1); transform: scaleY(1); }
.button i { padding-left: 8px; }
.button.large { padding: 13px 36px; }
.button.medium { padding: 10px 30px; }
.button.small { padding: 9px 28px; }
.button.e-small { padding: 8px 26px; font-size: 12px; }


.download_sec{
    display:block;
    width:100%;
    background:#f5f5f5;
    padding:20px 0;
   
}
.content_st {
 
  float:left;
  width:100%;
}
.content_st h6{color:#000}
.content_st p{color:#000;font-size:15px;}

.img_sec img{
    max-width:184px;
}
.phone_num{ padding:20px 0}
.btn-add-phone{margin:10px 0;width: 100%;
  background: #e01212;
  padding: 10px;
  color:#fff;
  border: 1px solid #e01112;}



  /*-abt-*/

  .white-bg {
  background: #ffffff;
}

.page-section-ptb {
  padding: 80px 0;
}
.section-title {
  margin-bottom: 10px;
  padding: 0 100px;
}
.section-title .title-separator {
  position: relative;
}
.section-title i {
  font-size: 35px;
  color: #9d9d9d;
  line-height: 35px;
}
.flaticon-food-27:before {
  content: "\f142";
}
[class^="flaticon-"]:before, [class*=" flaticon-"]:before, [class^="flaticon-"]:after, [class*=" flaticon-"]:after {
  font-family: Flaticon;
  font-style: normal;
}
.h2_sttt {
  font-size: 50px;
  padding-bottom: 15px;
  font-weight: 700;
  position: relative;
  margin-bottom: 10px;
}
.padin_rt{padding-right:5px;}
.section-title h2:before {
  position: absolute;
  content: "";
  width: 40px;
  height: 2px;
  background: #db2d2e;
  left: 50%;
  margin-left: -20px;
  bottom: 0px;
}
.section-title img{
  max-height: 30px;
}
.text-orange {
  color: #e93e21;
}
.pading_rt{padding-right:5px;}
.section-title p {
  font-style: italic;
  font-size: 14px;
  display: block;
  margin-top: 10px;
  margin-bottom: 0px;
}
p {
  font-size: 14px;
  font-weight: normal;
  line-height: 24px;
  color: #9d9d9d;
}
.mt-70 {
  margin-top: 70px !important;
}
.mt-80 {
  margin-top: 80px !important;
}
.mt-40 {
  margin-top: 40px !important;
}
.book-menu .content h2 {
  font-size: 50px;
  font-weight: bold;
  display: inline-block;
  line-height: 60px;
}
.book-menu .content span {
  display: block;
}
.book-menu .content img {
  display: inline-block;
  float: right;
}
.mt-30 {
  margin-top: 30px !important;
}

h2 , h4 {
  font-family: 'Amatic SC', cursive !important;
  font-weight: bold;
  color: #1e2327;
  margin-top: 0px;
}
h4{
  font-size: 30px !important;
  font-style: normal !important;
  line-height: 30px !important;
}
.section-title i.white {
  color: #ffffff;
}


/* --*/

/*our-menu dark*/
.our-menu.dark .menu-body.menu-white .menu-title h4, .our-menu.dark .menu-body.menu-white p { color: #ffffff; }
.our-menu.dark { position: relative; }
.our-menu .menu-body { margin-bottom: 50px; }
.our-menu.middle-img .menu-body:last-child { margin-bottom: 80px; }
.belief { position: relative; }
.our-menu { position: relative; }
.our-menu.belief .container-fuild { padding: 0 50px; }
.centre-block { margin-left: auto; margin-right: auto; }
.special-menu .menu-body .menu-thumbnail img { width: 150px; height: 100%; }
.our-menu .middle-image { position: relative; height: 100%; }
.our-menu .middle-image img { position: absolute; bottom: 0; height: auto; left: 0px; right: 0px; }
.light { position: relative; }
  /*
    Flaticon icon font: Flaticon
    Creation date: 29/06/2016 07:16
    */

    @font-face {
font-family: "Flaticon";
src: url("../fonts/Flaticon.eot");
src: url("../fonts/Flaticond41d.eot?#iefix") format("embedded-opentype"),
     url("../fonts/Flaticon.woff") format("woff"),
     url("../fonts/Flaticon.ttf") format("truetype"),
     url("../fonts/Flaticon.svg#Flaticon") format("svg");
font-weight: normal;
font-style: normal;
}

@media screen and (-webkit-min-device-pixel-ratio:0) {
@font-face {
  font-family: "Flaticon";
  src: url("Flaticon.html#Flaticon") format("svg");
}
}

[class^="flaticon-"]:before, [class*=" flaticon-"]:before,
[class^="flaticon-"]:after, [class*=" flaticon-"]:after {   
font-family: Flaticon;
font-style: normal;

}




    .white-bg {
    background: #ffffff;
}

.page-section-ptb {
    padding: 80px 0;
}
.section-title {
    margin-bottom: 10px;
    padding: 0 100px;
}
.section-title .title-separator {
    position: relative;
}
.section-title i {
    font-size: 35px;
    color: #9d9d9d;
    line-height: 35px;
}
.flaticon-food-27:before {
    content: "\f142";
}
[class^="flaticon-"]:before, [class*=" flaticon-"]:before, [class^="flaticon-"]:after, [class*=" flaticon-"]:after {
    font-family: Flaticon;
    font-style: normal;
}
.section-title h2 {
   
    padding-bottom: 15px;
    font-weight: 700;
    position: relative;
    margin-bottom: 10px;
    margin:0;
}
.section-title h2:before {
    position: absolute;
    content: "";
    width: 40px;
    height: 2px;
    background: #db2d2e;
    left: 50%;
    margin-left: -20px;
    bottom: 0px;
}
.text-orange {
    color: #e93e21;
}
.pading_rt{padding-right:5px;}
.section-title p {
    font-style: italic;
    font-size: 14px;
    display: block;
    margin-top: 10px;
    margin-bottom: 0px;
}
p {
    font-size: 14px;
    font-weight: normal;
    line-height: 24px;
    color: #9d9d9d;
}
.mt-70 {
    margin-top: 70px !important;
}
.mt-80 {
    margin-top: 80px !important;
}
.mt-40 {
    margin-top: 40px !important;
}
.book-menu .content h2 {
    font-size: 50px;
    font-weight: bold;
    display: inline-block;
    line-height: 60px;
}
.book-menu .content span {
    display: block;
}
.book-menu .content img {
    display: inline-block;
    float: right;
}
.mt-30 {
    margin-top: 30px !important;
}

 h2 , h4 {
    font-family: 'Amatic SC', cursive !important;
    font-weight: bold;
    color: #1e2327;
    margin-top: 0px;
}
h4{
    font-size: 30px !important;
    font-style: normal !important;
    line-height: 30px !important;
}
.section-title i.white {
    color: #ffffff;
}
.box-one  h4{
  font-size:15px !important;
}

/* --*/

/*our-menu dark*/
.our-menu.dark .menu-body.menu-white .menu-title h4, .our-menu.dark .menu-body.menu-white p { color: #ffffff; }
.our-menu.dark { position: relative; }
.our-menu .menu-body { margin-bottom: 50px; }
.our-menu.middle-img .menu-body:last-child { margin-bottom: 80px; }
.belief { position: relative; }
.our-menu { position: relative; }
.our-menu.belief .container-fuild { padding: 0 50px; }
.centre-block { margin-left: auto; margin-right: auto; }
.special-menu .menu-body .menu-thumbnail img { width: 150px; height: 100%; }
.our-menu .middle-image { position: relative; height: 100%; }
.our-menu .middle-image img { position: absolute; bottom: 0; height: auto; left: 0px; right: 0px; }
.light { position: relative; }
	

#find-table-form .panel-find-table{
    box-shadow:0 0 10px #ccc;
    border:1px solid #ccc !important; 
    margin:30px 0;
}

.table_st{
  display: block;
  float: left;
  width: 100%;
  margin: 40px 0;
  border: 1px solid #ccc;
  box-shadow: 0 0px 4px 0 #ccc;
}
#reservation-form p{
  color:#6b6666
}
#reservation-form p a{
  color:#e01112;
}
#reservation-form .form-control{height:39px}
.margin_st{
  margin:100px 0 ;
}
.margin_st2{
  margin:150px 0 0px;
}
.pagination-bar{
  margin-bottom:20px;
}
#login-form{
   
    background: #fff;
    box-shadow: 0 0px 10px 0 #ccc;
    padding: 19px;
}

#filter-search-form  button{
  padding:9px 12px;
}
#local-info .panel {
  box-shadow: 0 0 10px #ccc;
  border: 1px solid #ccc !important;
  margin: 30px 0;
}
#local-info a{
  color:red;
}
#search{
  color:#fff !important;
}
.partial .text-muted{
  color: #151313 !important;
}
#cart-box .panel-cart{
  border:none !important;
  box-shadow: 0 0 10px #ccc !important;
  border: 1px solid #ccc !important;
  margin: 30px 0;
}

#category-box .list-group-item a{
  border:none !important;
}
#category-box ul{
 
}

#local-information h4{
  font-size: 22px !important;
}
#local-information .nav-tabs {
  border-bottom: 1px solid #ea1111;
}

#local-information .nav-tabs>li.active>a{
  border: 1px solid #ec5656;
  border-bottom-color: transparent;
}
#local-information .nav-tabs>li.active>a{
color:#000;
}
#local-information .nav-tabs>li>a{
  color: #959798;
}
#local-information .nav>li>a:focus, .nav>li>a:hover {
  text-decoration: none;
  background-color: #fbfbfb;
}
.bg_clr{
  background: #efefef !important;
}
#register-form{
  border-radius: 4px;
    margin-bottom: 20px;
    background: #fff;
    box-shadow: 0 0px 10px 0 #ccc;
    padding: 19px;
}
/*************************************
         contact
**************************************/
.contact .contact-box { padding:5px 0; }
.contact .contact-box i { color: #fff; font-size:27px; display: block;  line-height: 40px; }
.contact .contact-box h5 {     font-size: 20px;  }
.contact-map { height: 400px; }
.contact-map .container-fluid { padding: 0px; }
.contact .contact-form .form-field input, .contact .contact-form .form-field textarea { color: #626262; }
.contact p{
  color: #fff;
}

.heading-section h3{
  color: #fff;
    padding: 67px 0;
    font-size: 40px;
    font-style: oblique;
}
#map{
  margin: 25px 0 0;
}

#nav-tabs {
  background: #f7f6f6;
}
#main-header .dropdown-menu {
  background-color: #fff !important;
  top: 59px !important;
}
#main-header .dropdown-menu > li > a, .modal-header {
  padding: 7px 12px !important;
  text-align: center !important;
  font-size: 14px !important;
  color: #000 !important;
}
#reservation-form p b{
  font-weight: 700;
  color: #4c4b4b;
}


/*--account--*/
.nav-tabs>li.active>a, .nav-tabs>li.active>a:focus{
  
  background: red;
 
}

.out_div{
  display: block;
    background: #fff;
    box-shadow: 0 0 10px #ccc;
    float: left;
    width: 100%;
    margin-bottom: 20px;
}
.tabs_st{
  background: #fff8f8;
}
.tabs_st li a{
  color:#000;
}
.tabs_st li{
border-right: 1px dotted red;
}
.tabs_st > li.active > a:focus {
  color:#fff !important;
}

.btn_add{
  background:red;
  padding: 23PX;
  color:#fff !important;
  border-radius:3PX;
}
.txt_hd{
  font-size:25px;
}
.margin_20{
  margin:20px 0;
}
.h2_sttt2{color:#fff !important;}
#inputPassword2 {
  width: 100%;
  height: 48px;
}


/*--home search part*/

.background_images{
  float: left;
  position: relative;
  width: 100%;
  display:block;
}
.serach_sec{
  float: left;
  position: absolute;
  margin: 19% 0;
  width: 100%;
  overflow: hidden;
}
#location-form .input-group {
  float:left;
}
.search_btn_hme{
  background: #e01112;
  border-color: #e01212;
  height: 55px;
  width: 100%;
  /* padding: 10px; */
  float: left;
  line-height: 55px;
  font-size: 17px;
}

#local-search{
  display: block;
  float: left;
  width: 100%;
  background: rgba(245, 112, 113, 0.61);
  border-radius: 8px;
  padding: 3px 0;

}
#local-search .panel{
  margin-bottom:0;
  background:none;
  border:none;
}

#location-form{
  float: left;
  display: block;
  width: 100%;
  margin: 0;
}
#location-form input[type=text] {
  padding: 0px 7px 0 43px;
    margin-left: 0;
    height: 55px;
    border: 0;
    border-right: 1px solid #d4d4d4;
    font-size: 14px;
    font-weight: 500;
    color: #212121;
    float: left;
    width: 100%;
    border-radius: 0;
    background: #fff;
}
#local-search .partial .panel{
  background:none;

}

.object_right_img{
  position: absolute;
    right: 0;
    top: 825px;
}

.maskimg {
  height: 38px;
  left: 1px;
  position: absolute;
  
  width: 48px;
}
.mfrom:before {
  content: "\f041";
  font-family: "FontAwesome";
  font-size: 26px;
  position: absolute;
  /* text-align: center; */
  /* width: 32px; */
  z-index: 20;
  margin-top: 7px;
  /* border-right: 1px solid #797979; */
  /* top: 3px; */
  color: #e01012;
  left: 10px;
  line-height: 40px;
}

#location-form .input-group span {
  display: block;
  width: 40px;
  height: 37px;
  float: left;
  text-align: center;
  padding: 9px 0 0 5px;
  position: absolute;
  z-index: 9999;
}
#icon_sec div.content-wrap{
  background:#fff !important;
}
.cont_clr{
  background:#fb3b42 !important;
}



/*************************
    Gallery 
*************************/
.gallery { position: relative; }
.isotope-filters { display: table; margin: 0 auto 50px; }
.isotope-filters  button { border: none; margin: 2px; cursor: pointer; background: #f5f5f5; color: #626262; padding: 10px 15px; border-radius: 3px; transition: all 0.3s ease-in-out; -webkit-transition: all 0.3s ease-in-out; -o-transition: all 0.3s ease-in-out; -ms-transition: all 0.3s ease-in-out; -webkit-transition: all 0.3s ease-in-out; font-size: 14px; padding: 10px 30px; margin-right: 10px; }
.isotope-filters  button:focus { outline: none; outline-style: none; outline-offset: 0; }
.isotope-filters  button.active, .isotope-filters  button:hover { background: #e93e21; color: #ffffff; }
.gallery .container-fluid { padding-left: 0; padding-right: 0; position: relative; }
.grid-item { color: #fff; width: auto; border: 0; }
.grid-item img { -webkit-transition: -webkit-transform 0.35s; transition: transform 0.35s; width: 100%; }
.full-screen .grid-item { padding: 0; width: 20%; }

/*img hover*/
.galllery-item { position: relative; }
.galllery-item .overlay { position: absolute; width: 100%; height: 100%; left: 0; top: 0; }
.galllery-item .overlay { background: none; width: 100%; height: 100%; -webkit-transition: all 0.1s ease-in-out; -moz-transition: all 0.1s ease-in-out; transition: all 0.1s ease-in-out; }
.overlay-content { position: absolute; left: 10%; top: 40%; opacity: 0; width: 80%; -webkit-transition: all 0.3s ease-in-out; -moz-transition: all 0.3s ease-in-out; transition: all 0.3s ease-in-out; text-align: center; color: #9a9a9a; transform: translateY(-50%); -webkit-transform: translateY(-50%); -ms-transform: translateY(-50%); -moz-transform: translateY(-50%); -o-transform: translateY(-50%); z-index: 2; }
.galllery-item .overlay:before { border-bottom: 1px solid #1e2327; border-top: 1px solid #1e2327; -o-transform: scale(0, 1); -webkit-transform: scale(0, 1); -moz-transform: scale(0, 1); transform: scale(0, 1); }
.galllery-item .overlay:after { border-left: 1px solid #1e2327; border-right: 1px solid #1e2327; -o-transform: scale(1, 0); -webkit-transform: scale(1, 0); -moz-transform: scale(1, 0); transform: scale(1, 0); }
.galllery-item .overlay:before, .galllery-item .overlay:after { bottom: 21px; content: ""; left: 21px; opacity: 0; position: absolute; right: 21px; top: 21px; -o-transition: opacity 0.35s ease 0s, transform 0.35s zase 0s; -webkit-transition: opacity 0.35s ease 0s, transform 0.35s ease 0s; -moz-transition: opacity 0.35s ease 0s, transform 0.35s ease 0s; transition: opacity 0.35s ease 0s, transform 0.35s ease 0s; z-index: 1; }
.galllery-item:hover .overlay { background: rgba(255, 255, 255, 0.8); }
.galllery-item:hover .overlay:before, .galllery-item:hover .overlay:after { opacity: 1; -o-transform: scale(1); -webkit-transform: scale(1); -moz-transform: scale(1); transform: scale(1); -o-transition: opacity 0.4s ease 0s, transform 0.45s ease 0.2s; -webkit-transition: opacity 0.4s ease 0s, transform 0.45s ease 0.2s; -moz-transition: opacity 0.4s ease 0s, transform 0.45s ease 0.2s; transition: opacity 0.4s ease 0s, transform 0.45s ease 0.2s; }
.galllery-item:hover .overlay-content { opacity: 1; top: 50%; }
.overlay-content h3, .overlay-content h3 a { color: #1e2327; font-size: 36px; line-height: 36px; position: relative; z-index: 9; font-weight: 600; font-style: normal; }
.overlay-content h3 a:hover { text-decoration: none; }
.overlay-content a.portfolio-img { padding: 7px 20px; display: block; margin-top: 20px; margin-right: 0; }
.overlay-content a.portfolio-img:hover { color: #323232; }
.overlay-content a.portfolio-img i { font-size: 15px; transition: all 0.5s ease-in-out; width: 40px; height: 40px; background: #e93e21; border-radius: 50%; line-height: 40px; color: #fff; }
.overlay-content a.portfolio-img i:hover { background: #1e2327; }
.overlay-content a { display: inline-block; padding: 0 5px; color: #1e2327; font-size: 15px; line-height: 26px; font-weight: 500; position: relative; z-index: 9; -webkit-transition: all 0.3s ease-in-out; -moz-transition: all 0.3s ease-in-out; transition: all 0.3s ease-in-out; font-style: italic; }
.overlay-content a:hover { text-decoration: none; color: #e93e21; }
.columns-3 .grid-item { width: 33.3%; padding: 10px; }
.columns-2 .grid-item { width: 50%; padding: 10px; }
.columns-4 .grid-item { width: 25%; padding: 10px; }


/***abt*/



.about-area::before,
.menus-area::before,
.team-area::before {
  bottom: -7px;
  top: auto;
  -webkit-transform: rotateX(360deg);
  transform: rotateX(360deg);
}

.about-author-sign {
  margin-top: 40px;
}

.big-text {
  float: left;
  font-size: 80px;
  font-weight: 700;
  margin-bottom: -4px;
  margin-right: 10px;
  line-height: 1;
}

.about-area .area-title h2 {
  font-size: 54px;
  padding-bottom: 10px;
  position: relative;
  /* font-family: "Cookie",cursive !important; */
  font-weight: 900;
}
}

.about-area .area-title h2 span {
  color: #212324;
  font-family: lato;
  font-size: 48px;
  text-transform: uppercase;
}

.about-area .area-title h2::after {
  display: none;
}

.about-content {
  color: #4a4d4f;
}

a.read-more {
  border: 1px solid;
  color: #ca3d26;
  display: inline-block;
  font-size: 14px;
  font-weight: 700;
  letter-spacing: 2px;
  margin-top: 30px;
  padding: 7px 23px;
  text-transform: uppercase;
}

.read-more:hover {
  background: #ca3d26;
  color: #fff;
  border-color: #ca3d26;
}

.area-title h2 {

  display: inline-block;
  font-family: "Dancing Script", cursive;
  font-size: 60px;
  letter-spacing: 2px;
  line-height: 0.8;
  margin: 0;
  padding: 0 20px 45px;
  position: relative;
  text-transform: capitalize;
}
.area-title h2::after {
  background: rgba(0, 0, 0, 0) url(assets/images/red.png) no-repeat scroll center center / contain;
  bottom: 0;
  content: "";
  height: 30px;
  left: 0;
  position: absolute;
  width: 100%;
}
.area-title{
  padding:30px 0;
}