.icon_sec{

  display: block;
  width: 100%;
  display: block;
  width: 100%;
  position: relative;
  border-bottom: 1px solid #ccc;
  box-shadow:0px 15px 10px -15px #c3bdbd;
  float: left;
  padding:10px;
}
.step-item p{
  font-size: 14px;
  font-weight: normal;
  line-height: 22px;
  color: #676767;
}
.nopad{
padding:0;
}

.owl-item { transform: translateZ(0); -webkit-transform: translateZ(0); -ms-transform: translateZ(0); -o-transform: translateZ(0); -moz-transform: translateZ(0); -webkit-transition: all 0.3s ease-out 0s; -moz-transition: all 0.3s ease-out 0s; -ms-transition: all 0.3s ease-out 0s; -o-transition: all 0.3s ease-out 0s; transition: all 0.3s ease-out 0s; }
.owl-carousel .owl-item img { width: auto; }
.owl-carousel .owl-nav { display: block; position: absolute; text-indent: inherit; top: 45%; transform: translateY(-50%); -webkit-transform: translateY(-50%); -o-transform: translateY(-50%); -ms-transform: translateY(-50%); -moz-transform: translateY(-50%); left: 0; width: 100%; cursor: pointer; z-index: 999; opacity: 0; }
.owl-carousel .owl-nav .owl-prev { display: block; position: absolute; text-indent: inherit; left: 0px; width: auto; cursor: pointer; -webkit-transition: opacity 0.3s ease 0s, left 0.3s ease 0s; -moz-transition: opacity 0.3s ease 0s, left 0.3s ease 0s; -ms-transition: opacity 0.3s ease 0s, left 0.3s ease 0s; -o-transition: opacity 0.3s ease 0s, left 0.3s ease 0s; transition: opacity 0.3s ease 0s, left 0.3s ease 0s; }
.owl-carousel .owl-nav .owl-next { display: block; position: absolute; text-indent: inherit; right: 0px; width: auto; cursor: pointer; -webkit-transition: opacity 0.3s ease 0s, right 0.3s ease 0s; -moz-transition: opacity 0.3s ease 0s, right 0.3s ease 0s; -ms-transition: opacity 0.3s ease 0s, right 0.3s ease 0s; -o-transition: opacity 0.3s ease 0s, right 0.3s ease 0s; transition: opacity 0.3s ease 0s, right 0.3s ease 0s; }
.owl-carousel .owl-nav .owl-prev i { padding-left: 0px; }
.owl-carousel .owl-nav i { font-size: 20px; border-radius: 3px; width: 44px; height: 44px; line-height: 42px; padding-left: 2px; display: inline-block; color: #db2d2e; background: #ffffff; border: 1px solid #e3e3e3; font-weight: normal; text-align: center; -webkit-transition: all 0.3s ease-out 0s; -moz-transition: all 0.3s ease-out 0s; -ms-transition: all 0.3s ease-out 0s; -o-transition: all 0.3s ease-out 0s; transition: all 0.3s ease-out 0s; }
.owl-carousel .owl-nav i:hover { background: #db2d2e; color: #fff; border-color: #db2d2e; }
.owl-carousel:hover .owl-nav { opacity: 1; }
.owl-carousel:hover .owl-nav .owl-prev { left: -4%; }
.owl-carousel:hover .owl-nav .owl-next { right: -4%; }
.owl-theme .owl-controls { margin-top: 0px; }
.owl-carousel .owl-controls .owl-dot { display: inline-block; }
.owl-carousel .owl-dots { display: inline-block; position: relative; text-indent: inherit; width: 100%; cursor: pointer; text-align: center; margin-top: 20px; }
.owl-carousel.owl-theme .owl-dots .owl-dot span { background: #1e2327; border-radius: 30px; display: inline-block; width: 10px; height: 10px; margin: 0px 3px; transition: all 0.5s ease-in-out; -webkit-transition: all 0.5s ease-in-out; -o-transition: all 0.5s ease-in-out; -moz-transition: all 0.5s ease-in-out; -ms-transition: all 0.5s ease-in-out; cursor: pointer; }
.owl-carousel.owl-theme .owl-dots .owl-dot:hover span { background: #e93e21; }
.owl-carousel.owl-theme .owl-dots .owl-dot.active span { background: #e93e21; width: 24px; }
.owl-carousel[data-dotcolor='white'] .owl-dots .owl-dot span { background: #fff; }
.owl-carousel[data-dotcolor='white'] .owl-dots .owl-dot.active span, .owl-carousel[data-dotcolor='white'] .owl-dots .owl-dot span:hover { background: #e93e21; }
.our-clients .owl-carousel .owl-item img { width: auto; }
.center-block { display: block; margin-left: auto; margin-right: auto; }
.our-clients .owl-item { cursor: url("../images/client-arrow.png") 25 25, pointer; padding: 0 15px; }
.list-inline li a i{
  line-height:50px;
}
.about {
width: 100%;
float:left;
}
.special-menu{
width: 100%;
float:left;
}
.our-menu{
position: relative ;
width: 100%;
float:left;
}
.newsletter-section{
background: #e93e21;
  float: left;
  width: 100%;
}
/*************************
   object
*************************/
.object-bottom-top { position: relative; height: 100%; width: 100%; }
.object-bottom-top .object-right { position: absolute; right: 0px; top: 0px; }
.object-top-bottom { position: absolute; height: 100%; width: 100%; }

.object-top-bottom .object-right { position: absolute; right: 0px; bottom: 0px; }
.object-top { position: absolute; height: 100%; width: 100%; }

.object-top .object-right { position: absolute; right: 0px; top: 0px; }
.object-bottom { position: absolute; height: 100%; width: 100%; bottom: 0; }
.object-bottom .object-right {
position: absolute;
right: -21px;
bottom: 0px;
}
.object-bottom .object-left {
position: absolute;
left: -36px;
bottom: -8px;
}
.book-menu  .object-left{    position: absolute;
left: 0px;
margin: 105px 0 0;}
.fixed { position: relative; z-index: 1; }
.parallax { overflow: hidden; position: relative; z-index: 1; background-size: cover; background-attachment: fixed; background-position: center center; }
.our-menu .tabs { padding: 0; font-size: 13px; position: relative; z-index: 99; }
.tabs ul.tabs-link { overflow: hidden; margin: 0; padding: 0px; margin-bottom: 80px;padding-top:50px; }
.tabs ul.tabs-link li { display: inline-block; position: relative; color: #ffffff; padding-right: 60px; font-family: 'Amatic SC', cursive; font-weight: normal; font-size: 40px; text-align: center; position: relative; cursor: pointer; transition: all 0.5s ease-in-out; -webkit-transition: all 0.5s ease-in-out; -o-transition: all 0.5s ease-in-out; -ms-transition: all 0.5s ease-in-out; -moz-transition: all 0.5s ease-in-out; }
.tabs ul.tabs-link li a { color: #333; font-weight: bold; }
.tabs ul.tabs-link.white li a { color: #333; }
.tabs ul.tabs-link li:last-child { padding-right: 0px; }
.tabs ul.tabs-link li i:before { font-size: 40px; padding-right: 15px; }
.tabs ul.tabs-link li a:hover, .our-menu  .tabs ul.tabs-link li.active a { color: #e93e21; }

/*tab-page*/
.tab-page .tabs ul.tabs-link { margin-bottom: 20px; }
.tab-page .tabs ul.tabs-link.white li.active a { color: #e93e21; }
.menu-body { text-align: center; }
.menu-body .menu-thumbnail { margin-bottom: 25px; }
.menu-body .menu-title { margin-bottom: 20px; }
.menu-body .menu-title h4 { color: #fff; }
.menu-body .h4_st h4 { color: #333; }
.menu-body .menu-details .price { color: #e93e21; font-size: 30px; font-family: 'Amatic SC', cursive; line-height: 40px; font-weight: 600; }
.menu-body p { color: #333; }

/*menu whitebg*/
.menu-body.menu-white .menu-title h4, .menu-body.menu-white p { color: #1e2327; }

/*menu left*/
.menu-body.menu-left { text-align: left; }
.menu-body.menu-left .menu-thumbnail { float: left; margin-right: 20px; width: 100px; margin-bottom: 0; }
.menu-body.menu-left .menu-details { display: table-cell; }
.menu-body.menu-left .menu-title { display: block; border-bottom: 1px dashed #d41010; padding-bottom: 10px; }
.menu-body.menu-left .menu-title h4 { display: inline-block; }
.menu-body.menu-left .menu-details .price { float: right; color: #e93e21; }

/*menu right*/
.menu-body.menu-right .menu-thumbnail { float: right; margin-right: 0px; margin-left: 20px; width: 150px; }
.menu-body.menu-right .menu-details { display: table-cell; }
.menu-body.menu-right .menu-title { display: block; border-bottom: 2px dotted #909090; padding-bottom: 10px; }
.menu-body.menu-right .menu-details .price { float: left; }
.menu-body.menu-right .menu-title h4 { float: right; }
.menu-body.menu-right .menu-description { text-align: right; }
.menu-body.menu-left.simple .menu-details { width: 100%; display: table; }
.menu-body.menu-left.simple .menu-title { margin-bottom: 0px; padding-bottom: 0px; }
.menu-body.menu-left.simple .menu-title span { font-size: 22px; }
.menu-body.menu-left.simple .menu-description p { font-style: italic; margin-top: 10px; }

/*menu list page*/
.menu-list-bg { height: 250px; position: relative; z-index: 1; background-repeat: no-repeat; background-position: center center; background-attachment: fixed; background-size: cover; }
.menu-list-bg .container { display: table; height: 100%; position: relative; }
.menu-list-bg .content-text { display: table-cell; vertical-align: middle; }
.menu-list-bg .content-text h2 { font-size: 50px; line-height: 50px; color: #fff; }
.newsletter-section { padding: 20px 0px 10px; }
.newsletter-section .form-group { width: 100%; }
.newsletter-section .form-control { background: #fff; width: 100%; border-radius: 3px; }
.newsletter-section .button.black { padding: 14px 30px; }
.newsletter-section .button.black:hover, .newsletter-section .button.black:focus { color: #e93e21; }
.newsletter-section .button.black:before { color: #e93e21; background: #ffffff; }
.newsletter-section .newsletter-image { position: relative; }
.newsletter-section .newsletter-title { margin-top: 44px; }
.orange-bg {
  background: #e93e21;
}
.text-white{
  color:#fff;
  
  font-weight: 900;
}
.form-control {
  border-radius: 0px;
  height: 39px;
  line-height: 1.33333;
  background: transparent;
  color: #aaaaaa;
  border: 0px solid transparent;
}
.button.black { background: #1e2327; color: #ffffff; }
.button.black:hover, .button.black:focus { color: #ffffff; }
.button.black:before { color: #ffffff; background: #e93e21; }
.button {background: #e93e21;color: #ffffff;padding: 10px 30px;border-radius: 3px;border: none;display: inline-block;vertical-align: middle;-webkit-transform: perspective(1px) translateZ(0);transform: perspective(1px) translateZ(0);-o-transform: perspective(1px) translateZ(0);transform: perspective(1px) translateZ(0);-ms-transform: perspective(1px) translateZ(0);transform: perspective(1px) translateZ(0);-moz-transform: perspective(1px) translateZ(0);transform: perspective(1px) translateZ(0);box-shadow: 0 0 1px transparent;position: relative;-webkit-transition-property: color;transition-property: color;-o-transition-property: color;transition-property: color;-ms-transition-property: color;transition-property: color;-moz-transition-property: color;transition-property: color;-webkit-transition-duration: 0.3s;transition-duration: 0.3s;-o-transition-duration: 0.3s;transition-duration: 0.3s;-moz-transition-duration: 0.3s;transition-duration: 0.3s;-ms-transition-duration: 0.3s;transition-duration: 0.3s;}
.button:hover, .button:focus { color: #ffffff; }
.button:before { content: ""; border-radius: 3px; position: absolute; z-index: -1; top: 0; left: 0; right: 0; bottom: 0; background: #1e2327; -webkit-transform: scaleY(0); transform: scaleY(0); -o-transform: scaleY(0); transform: scaleY(0); -ms-transform: scaleY(0); transform: scaleY(0); -moz-transform: scaleY(0); transform: scaleY(0); -webkit-transform-origin: 50% 100%; transform-origin: 50% 100%; -moz-transform-origin: 50% 100%; transform-origin: 50% 100%; -ms-transform-origin: 50% 100%; transform-origin: 50% 100%; -o-transform-origin: 50% 100%; transform-origin: 50% 100%; -webkit-transition-property: transform; transition-property: transform; -o-transition-property: transform; transition-property: transform; -ms-transition-property: transform; transition-property: transform; -moz-transition-property: transform; transition-property: transform; -webkit-transition-duration: 0.3s; transition-duration: 0.3s; -o-transition-duration: 0.3s; transition-duration: 0.3s; -ms-transition-duration: 0.3s; transition-duration: 0.3s; -moz-transition-duration: 0.3s; transition-duration: 0.3s; -webkit-transition-timing-function: ease-out; transition-timing-function: ease-out; -o-transition-timing-function: ease-out; transition-timing-function: ease-out; -moz-transition-timing-function: ease-out; transition-timing-function: ease-out; -ms-transition-timing-function: ease-out; transition-timing-function: ease-out; }
.button:hover:before { -webkit-transform: scaleY(1); transform: scaleY(1); -o-transform: scaleY(1); transform: scaleY(1); -ms-transform: scaleY(1); transform: scaleY(1); -moz-transform: scaleY(1); transform: scaleY(1); }
.button i { padding-left: 8px; }
.button.large { padding: 13px 36px; }
.button.medium { padding: 10px 30px; }
.button.small { padding: 9px 28px; }
.button.e-small { padding: 8px 26px; font-size: 12px; }

.download_sec{
  display:block;
  width:100%;
  background:#f5f5f5;
  padding:20px 0;
 
}
.content_st {

float:left;
width:100%;
}
.content_st h6{color:#000}
.content_st p{color:#000;font-size:15px;}

.img_sec img{
  max-width:184px;
}
.phone_num{ padding:20px 0}
.btn-add-phone{margin:10px 0;width: 100%;
background: #e01212;
padding: 10px;
color:#fff;
border: 1px solid #e01112;}



/*-abt-*/

.white-bg {
background: #ffffff;
}


.section-title {
margin-bottom: 10px;
padding: 0 100px;
}
.section-title .title-separator {
position: relative;
}
.section-title i {
font-size: 35px;
color: #9d9d9d;
line-height: 35px;
}
.flaticon-food-27:before {
content: "\f142";
}
[class^="flaticon-"]:before, [class*=" flaticon-"]:before, [class^="flaticon-"]:after, [class*=" flaticon-"]:after {
font-family: Flaticon;
font-style: normal;
}
.h2_sttt {
font-size: 40px;
padding-bottom: 15px;
font-weight: 700;
position: relative;
margin-bottom: 10px;
}
.padin_rt{padding-right:5px;}
.section-title h2:before {
position: absolute;
content: "";
width: 40px;
height: 2px;
background: #db2d2e;
left: 50%;
margin-left: -20px;
bottom: 0px;
}
.section-title img{
max-height: 30px;
}
.text-orange {
color: #e93e21;
}
.pading_rt{padding-right:5px;}
.section-title p {
font-style: italic;
font-size: 14px;
display: block;
margin-top: 10px;
margin-bottom: 0px;
}
p {
font-size: 14px;
font-weight: normal;

color: #9d9d9d;
}
.mt-70 {
margin-top: 70px !important;
}
.mt-80 {
margin-top: 80px !important;
}
.mt-40 {
margin-top: 40px !important;
}
.book-menu .content h2 {
font-size: 50px;
font-weight: bold;
display: inline-block;
line-height: 60px;
}
.book-menu {
margin-bottom:80px;
}
.book-menu .content span {
display: block;
}
.book-menu .content img {
display: inline-block;
float: right;
}
.mt-30 {
margin-top: 30px !important;
}


.section-title i.white {
color: #ffffff;
}


/* --*/

/*our-menu dark*/
.our-menu.dark .menu-body.menu-white .menu-title h4, .our-menu.dark .menu-body.menu-white p { color: #ffffff; }
.our-menu.dark { position: relative; }
.our-menu .menu-body { margin-bottom: 50px; }
.our-menu.middle-img .menu-body:last-child { margin-bottom: 80px; }
.belief { position: relative; }
.our-menu { position: relative; }
.our-menu.belief .container-fuild { padding: 0 50px; }
.centre-block { margin-left: auto; margin-right: auto; }
.special-menu .menu-body .menu-thumbnail img { width: 150px; height: 100%; }
.our-menu .middle-image { position: relative; height: 100%; }
.our-menu .middle-image img { position: absolute; bottom: 0; height: auto; left: 0px; right: 0px; }
.light { position: relative; }
/*
  Flaticon icon font: Flaticon
  Creation date: 29/06/2016 07:16
  */

  @font-face {
font-family: "Flaticon";
src: url("../fonts/Flaticon.eot");
src: url("../fonts/Flaticond41d.eot?#iefix") format("embedded-opentype"),
   url("../fonts/Flaticon.woff") format("woff"),
   url("../fonts/Flaticon.ttf") format("truetype"),
   url("../fonts/Flaticon.svg#Flaticon") format("svg");
font-weight: normal;
font-style: normal;
}

@media screen and (-webkit-min-device-pixel-ratio:0) {
@font-face {
font-family: "Flaticon";
src: url("Flaticon.html#Flaticon") format("svg");
}
}

[class^="flaticon-"]:before, [class*=" flaticon-"]:before,
[class^="flaticon-"]:after, [class*=" flaticon-"]:after {   
font-family: Flaticon;
font-style: normal;

}




  .white-bg {
  background: #ffffff;
}

.page-section-ptb {
  padding: 40px 0;
}
.section-title {
  margin-bottom: 10px;
  padding: 0 100px;
}
.section-title .title-separator {
  position: relative;
}
.section-title i {
  font-size: 35px;
  color: #9d9d9d;
  line-height: 35px;
}
.flaticon-food-27:before {
  content: "\f142";
}
[class^="flaticon-"]:before, [class*=" flaticon-"]:before, [class^="flaticon-"]:after, [class*=" flaticon-"]:after {
  font-family: Flaticon;
  font-style: normal;
}
.section-title h2 {
 
  padding-bottom: 15px;
  font-weight: 700;
  position: relative;
  margin-bottom: 10px;
  margin:0;
}
.section-title h2:before {
  position: absolute;
  content: "";
  width: 40px;
  height: 2px;
  background: #db2d2e;
  left: 50%;
  margin-left: -20px;
  bottom: 0px;
}
.text-orange {
  color: #e93e21;
}
.pading_rt{padding-right:5px;}
.section-title p {
  font-style: italic;
  font-size: 14px;
  display: block;
  margin-top: 10px;
  margin-bottom: 0px;
}
p {
  font-size: 14px;
  font-weight: normal;

  color: #9d9d9d;
}
.mt-70 {
  margin-top: 70px !important;
}
.mt-80 {
  margin-top: 80px !important;
}
.mt-40 {
  margin-top: 40px !important;
}
.book-menu .content h2 {
  font-size: 50px;
  font-weight: bold;
  display: inline-block;
  line-height: 60px;
}
.book-menu .content span {
  display: block;
}
.book-menu  img {
max-height:350px;
}
.mt-30 {
  margin-top: 30px !important;
}



.section-title i.white {
  color: #ffffff;
}
.box-one  h4{
font-size:15px !important;
}

/* --*/

/*our-menu dark*/
.our-menu.dark .menu-body.menu-white .menu-title h4, .our-menu.dark .menu-body.menu-white p { color: #ffffff; }
.our-menu.dark { position: relative; }
.our-menu .menu-body { margin-bottom: 50px; }
.our-menu.middle-img .menu-body:last-child { margin-bottom: 80px; }
.belief { position: relative; }
.our-menu { position: relative; }
.our-menu.belief .container-fuild { padding: 0 50px; }
.centre-block { margin-left: auto; margin-right: auto; }
.special-menu .menu-body .menu-thumbnail img { width: 150px; height: 100%; }
.our-menu .middle-image { position: relative; height: 100%; }
.our-menu .middle-image img { position: absolute; bottom: 0; height: auto; left: 0px; right: 0px; }
.light { position: relative; }


#find-table-form .panel-find-table{
  box-shadow:0 0 10px #ccc;
  border:1px solid #ccc !important; 
  margin:30px 0;
}

.table_st{
display: block;
float: left;
width: 100%;
margin: 40px 0;
border: 1px solid #ccc;
box-shadow: 0 0px 4px 0 #ccc;
}
#reservation-form p{
color:#6b6666
}
#reservation-form p a{
color:#e01112;
}
#reservation-form .form-control{height:39px}
.margin_st{
margin:100px 0 ;
}
.margin_st2{
margin:150px 0 0px;
}
.pagination-bar{
margin-bottom:20px;
}
#login-form{
 
  background: #fff;
  box-shadow: 0 0px 10px 0 #ccc;
  padding: 19px;
}

#filter-search-form  button{
padding:9px 12px;
}
#local-info .panel {
box-shadow: 0 0 10px #ccc;
border: 1px solid #ccc !important;
margin: 30px 0;
}
#local-info a{
color:red;
}
#search{
color:#fff !important;
}
#location-form a:hover{
text-decoration:none !important;
}
.partial .text-muted{
color: #151313 !important;
}
#cart-box .panel-cart{
border:none !important;
box-shadow: 0 0 10px #ccc !important;
border: 1px solid #ccc !important;

}

#category-box .list-group-item a{
  border-bottom: 1px solid #e5e5e5 !important;
  padding: 15px !important;
  font-size:15px;
}
#category-box ul{
  background: rgba(245, 245, 245, 0.3803921568627451);
}


#local-information h4{
font-size: 22px !important;
}
#local-information .nav-tabs {
border-bottom: 1px solid #ea1111;
}

#local-information .nav-tabs>li.active>a{
border: 1px solid #ec5656;
border-bottom-color: transparent;
color:red;
background: #fff3f3;
}
#local-information .nav-tabs>li>a{
color:#0b0c0c;
}

#local-information .nav-tabs>li>a{
color: #959798;
}
#local-information .nav>li>a:focus, .nav>li>a:hover {
text-decoration: none;
background-color: #fbfbfb;
}

#register-form{
border-radius: 4px;
  margin-bottom: 20px;
  background: #fff;
  box-shadow: 0 0px 10px 0 #ccc;
  padding: 19px;
}
/*************************************
       contact
**************************************/
.contact .contact-box { padding:5px 0;    padding: 5px 0;
  display: table;
  margin: 0 auto; }
.contact .contact-box i {         display: block;
  float: left;
  width: 40px;
  height: 40px;
  line-height: 40px;
  text-align: center;
  background: #ff0f17;
  color: #fff;
  font-size: 21px;
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  -ms-border-radius: 50%;
  border-radius: 50%;
  margin-right: 20px;
  /* padding: 8px; */
  margin-top: 13px; }
  .cont_con{
    float: left;
  }
.contact .contact-box h5 {     font-size: 20px;  }
.contact-map { height: 400px; }
.contact-map .container-fluid { padding: 0px; }
.contact .contact-form .form-field input, .contact .contact-form .form-field textarea { color: #626262; }
.contact p{
color: #fff;
}

.heading-section h3{
color: #fff;
  padding: 67px 0;
  font-size: 40px;
  font-style: oblique;
}
#map{
margin: 25px 0 0;
}

/* #nav-tabs {
background: #f7f6f6;
} */
#main-header .dropdown-menu {
background-color: #fff !important;
top: 59px !important;
}
#main-header .dropdown-menu > li > a, .modal-header {
padding: 7px 12px !important;
text-align: center !important;
font-size: 14px !important;
color: #000 !important;
}
#reservation-form p b{
font-weight: 700;
color: #4c4b4b;
}


/*--account--*/
.nav-tabs>li.active>a, .nav-tabs>li.active>a:focus{

background: red;

}

.out_div{
display: block;
  background: #fff;
  box-shadow: 0 0 10px #ccc;
  float: left;
  width: 100%;
  margin-bottom: 20px;
}
.tabs_st{
background: #fff8f8;
}
.tabs_st li a{
color:#000;
}
.tabs_st li{
border-right: 1px dotted red;
}
.tabs_st > li.active > a:focus {
color:#fff !important;
}

.btn_add{
background:red;
padding: 23PX;
color:#fff !important;
border-radius:3PX;
}
.txt_hd{
font-size:25px;
}
.margin_20{
margin:20px 0;
}
.h2_sttt2{color:#fff !important;}
#inputPassword2 {
width: 100%;
height: 48px;
}


/*--home search part*/

.background_images{
float: left;
position: relative;
width: 100%;
display:block;
}
.serach_sec{
float: left;
width: 100%;
overflow: hidden;
}
#location-form .input-group {
float:left;
}
.search_btn_hme{
  background: #e01112;
  border-color: #e01212;
  height: 50px;
  width: 100%;
  /* padding: 10px; */
  float: left;
  line-height: 50px;
  font-size: 17px;
  cursor: pointer;
}

#local-search{
display: block;
float: left;
width: 100%;
background: rgba(245, 112, 113, 0.61);
border-radius: 8px;
padding: 3px 0;

}
#local-search .panel{
margin-bottom:0;
background:none;
border:none;
}

#location-form{
float: left;
display: block;
width: 100%;
margin: 0;
}
#location-form input[type=text] {
padding: 0px 7px 0 43px;
  margin-left: 0;
  height: 55px;
  border: 0;
  border-right: 1px solid #d4d4d4;
  font-size: 14px;
  font-weight: 500;
  color: #212121;
  float: left;
  width: 100%;
  border-radius: 0;
  background: #fff;
}
#local-search .partial .panel{
background:none;

}
.book-menu_img{
max-height:350px;
}
.book-menu p{    font-size: 15px;
color: #524e4e;
text-align: center;
margin: 80px 0;
padding: 0 30px;}
.about-content p,.section-title p{
color: #4a4d4f;
}
.icon{
display:table;
margin:0 auto;
}
.object_right_img{
position: absolute;
  right: 0;
  top: 705px;
}

.maskimg {
height: 38px;
left: 1px;
position: absolute;

width: 48px;
}
.mfrom:before {
content: "\f041";
font-family: "FontAwesome";
font-size: 26px;
position: absolute;
/* text-align: center; */
/* width: 32px; */
z-index: 20;
margin-top: 7px;
/* border-right: 1px solid #797979; */
/* top: 3px; */
color: #e01012;
left: 10px;
line-height: 40px;
}

#location-form span img {
display: block;
width: 40px;
height: 40px;
float: left;
text-align: center;
padding: 9px 0 0 5px;
position: absolute;
z-index: 99;
}
#icon_sec div.content-wrap{
background:#fff !important;
}
.cont_clr{
background:#5d5757 !important;
}



/*************************
  Gallery 
*************************/
.gallery { position: relative; }
.isotope-filters { display: table; margin: 0 auto 50px; }
.isotope-filters  button { border: none; margin: 2px; cursor: pointer; background: #f5f5f5; color: #626262; padding: 10px 15px; border-radius: 3px; transition: all 0.3s ease-in-out; -webkit-transition: all 0.3s ease-in-out; -o-transition: all 0.3s ease-in-out; -ms-transition: all 0.3s ease-in-out; -webkit-transition: all 0.3s ease-in-out; font-size: 14px; padding: 10px 30px; margin-right: 10px; }
.isotope-filters  button:focus { outline: none; outline-style: none; outline-offset: 0; }
.isotope-filters  button.active, .isotope-filters  button:hover { background: #e93e21; color: #ffffff; }
.gallery .container-fluid { padding-left: 0; padding-right: 0; position: relative; }
.grid-item { color: #fff; width: auto; border: 0; }
.grid-item img { -webkit-transition: -webkit-transform 0.35s; transition: transform 0.35s; width: 100%; }
.full-screen .grid-item { padding: 0; width: 20%; }

/*img hover*/
.galllery-item { position: relative; }
.galllery-item .overlay { position: absolute; width: 100%; height: 100%; left: 0; top: 0; }
.galllery-item .overlay { background: none; width: 100%; height: 100%; -webkit-transition: all 0.1s ease-in-out; -moz-transition: all 0.1s ease-in-out; transition: all 0.1s ease-in-out; }
.overlay-content { position: absolute; left: 10%; top: 40%; opacity: 0; width: 80%; -webkit-transition: all 0.3s ease-in-out; -moz-transition: all 0.3s ease-in-out; transition: all 0.3s ease-in-out; text-align: center; color: #9a9a9a; transform: translateY(-50%); -webkit-transform: translateY(-50%); -ms-transform: translateY(-50%); -moz-transform: translateY(-50%); -o-transform: translateY(-50%); z-index: 2; }
.galllery-item .overlay:before { border-bottom: 1px solid #1e2327; border-top: 1px solid #1e2327; -o-transform: scale(0, 1); -webkit-transform: scale(0, 1); -moz-transform: scale(0, 1); transform: scale(0, 1); }
.galllery-item .overlay:after { border-left: 1px solid #1e2327; border-right: 1px solid #1e2327; -o-transform: scale(1, 0); -webkit-transform: scale(1, 0); -moz-transform: scale(1, 0); transform: scale(1, 0); }
.galllery-item .overlay:before, .galllery-item .overlay:after { bottom: 21px; content: ""; left: 21px; opacity: 0; position: absolute; right: 21px; top: 21px; -o-transition: opacity 0.35s ease 0s, transform 0.35s zase 0s; -webkit-transition: opacity 0.35s ease 0s, transform 0.35s ease 0s; -moz-transition: opacity 0.35s ease 0s, transform 0.35s ease 0s; transition: opacity 0.35s ease 0s, transform 0.35s ease 0s; z-index: 1; }
.galllery-item:hover .overlay { background: rgba(255, 255, 255, 0.8); }
.galllery-item:hover .overlay:before, .galllery-item:hover .overlay:after { opacity: 1; -o-transform: scale(1); -webkit-transform: scale(1); -moz-transform: scale(1); transform: scale(1); -o-transition: opacity 0.4s ease 0s, transform 0.45s ease 0.2s; -webkit-transition: opacity 0.4s ease 0s, transform 0.45s ease 0.2s; -moz-transition: opacity 0.4s ease 0s, transform 0.45s ease 0.2s; transition: opacity 0.4s ease 0s, transform 0.45s ease 0.2s; }
.galllery-item:hover .overlay-content { opacity: 1; top: 50%; }
.overlay-content h3, .overlay-content h3 a { color: #1e2327; font-size: 25px; line-height: 36px; position: relative; z-index: 9; font-weight: 600; font-style: normal; }
.overlay-content h3 a:hover { text-decoration: none; }
.overlay-content a.portfolio-img { padding: 7px 20px; display: block; margin-top: 20px; margin-right: 0; }
.overlay-content a.portfolio-img:hover { color: #323232; }
.overlay-content a.portfolio-img i { font-size: 15px; transition: all 0.5s ease-in-out; width: 40px; height: 40px; background: #e93e21; border-radius: 50%; line-height: 40px; color: #fff; }
.overlay-content a.portfolio-img i:hover { background: #1e2327; }
.overlay-content a { display: inline-block; padding: 0 5px; color: #1e2327; font-size: 15px; line-height: 26px; font-weight: 500; position: relative; z-index: 9; -webkit-transition: all 0.3s ease-in-out; -moz-transition: all 0.3s ease-in-out; transition: all 0.3s ease-in-out; font-style: italic; }
.overlay-content a:hover { text-decoration: none; color: #e93e21; }
.columns-3 .grid-item { width: 33.3%; padding: 0px; }
.columns-4 .grid-item { width: 25%; padding: 0px; }


/***abt*/



.about-area::before,
.menus-area::before,
.team-area::before {
bottom: -7px;
top: auto;
-webkit-transform: rotateX(360deg);
transform: rotateX(360deg);
}

.about-author-sign {
margin-top: 40px;
}

.big-text {
float: left;
font-size: 80px;
font-weight: 700;
margin-bottom: -4px;
margin-right: 10px;
line-height: 1;
}

.about-area .area-title h2 {
font-size: 54px;
padding-bottom: 10px;
position: relative;
/* font-family: "Cookie",cursive !important; */
font-weight: 900;
}

.about-area .area-title h2 span {
color: #212324;
font-family: lato;
font-size: 48px;
text-transform: uppercase;
}

.about-area .area-title h2::after {
display: none;
}

.about-content {
color: #4a4d4f;
}

a.read-more {
border: 1px solid;
color: #ca3d26;
display: inline-block;
font-size: 14px;
font-weight: 700;
letter-spacing: 2px;
margin-top: 30px;
padding: 7px 23px;
text-transform: uppercase;
}

.read-more:hover {
background: #ca3d26;
color: #fff;
border-color: #ca3d26;
}

.area-title h2 {

display: inline-block;
font-family: "Dancing Script", cursive;
font-size: 60px;
letter-spacing: 2px;
line-height: 0.8;
margin: 0;
padding: 0 20px 45px;
position: relative;
text-transform: capitalize;
}
.area-title h2::after {
background: rgba(0, 0, 0, 0) url(assets/images/red.png) no-repeat scroll center center / contain;
bottom: 0;
content: "";
height: 30px;
left: 0;
position: absolute;
width: 100%;
}
.area-title{
padding:30px 0;
}

.ui-widget input{
background: #fff;
  height: 50px;
  width: 100%;
  border: #ccc 1px solid;
  line-height: 50px;
  padding: 0 40px 0 40px;
}
.icon_st {
display: block;
width: 40px;
height: 37px;
float: right;
text-align: center;
padding: 10px 0 0 5px;
position: absolute;
z-index: 1;
right:0;
}
.icon_st i{
font-size: 27px;
  font-weight: 500;
  line-height: 38px;
  text-align: right;
}


.wrapper{
background: #497dd0;
padding:100px;
}

.toggle_radio{
background: #f5282a;
margin: 0px auto;
overflow: hidden;
padding: 0 !important;
position: relative;
height: 45px;
width: 215px;
}
.toggle_radio > * {
float: left;
}
.toggle_radio input[type=radio]{
display: none;
/*position: fixed;*/
}
.toggle_radio label{

color: rgba(255,255,255,.9);
z-index: 0;
display: block;
width: 49%;
height: 39px;
/* margin: 3px 3px; */
cursor: pointer;
z-index: 1;
/* background: rgba(0,0,0,.1); */
text-align: center;
/* margin: 0 2px; */
/* background: blue; */
padding: 10px 0;
line-height: 25px;
color: #fff;
}
.toggle_radio label p{
color:#fff;
}
.toggle_option_slider{
/*display: none;*/
/*background: red;*/
width: 100px;
height: 37px;
position: absolute;
top: 3px;
-webkit-transition: all .4s ease;
-moz-transition: all .4s ease;
-o-transition: all .4s ease;
-ms-transition: all .4s ease;
transition: all .4s ease;
}

#first_toggle:checked ~ .toggle_option_slider{
background: rgba(255,255,255,.3);
left: 2px;
}
#second_toggle:checked ~ .toggle_option_slider{
background: rgba(255,255,255,.3);
right: 3px;
}
.h2_col{
float: left;
width: 100%;

padding: 35px;
border-radius: 5px;
box-shadow: 0 2px 9px 0 rgba(0,0,0,.5);
}

#select2-results-1::-webkit-scrollbar {
  width: 7px;
}

/* Track */
#select2-results-1::-webkit-scrollbar-track {
  box-shadow: inset 0 0 5px grey; 
  border-radius: 10px;
}
 
/* Handle */
#select2-results-1::-webkit-scrollbar-thumb {
  background: #c10505; 
  border-radius: 10px;
}

/* Handle on hover */
#select2-results-1::-webkit-scrollbar-thumb:hover {
  background: #c10505;

}
#cart-info .cart-items::-webkit-scrollbar {
  width: 7px;
}

/* Track */
#cart-info .cart-items::-webkit-scrollbar-track {
  box-shadow: inset 0 0 5px grey; 
  border-radius: 10px;
}
 
/* Handle */
#cart-info .cart-items::-webkit-scrollbar-thumb {
  background: #c10505; 
  border-radius: 10px;
}

/* Handle on hover */
#cart-info .cart-items::-webkit-scrollbar-thumb:hover {
  background: #c10505;

}
#my-postcode .btn-primary.active, #my-postcode .btn-primary.focus,  #my-postcode .btn-primary:active,#my-postcode  .btn-primary:focus, #my-postcode .btn-primary:hover, .open > #my-postcode .dropdown-toggle.btn-primary{

  background-color: #c10804;
    border-color: #dc531e;
}
.demo{ background: #3d3d3d; }
.testimonial{
  padding: 35px 50px;
  margin: 0 20px 30px;
  border-radius: 0 70px 0 70px;
  border: 5px solid #ff0f17;
  border-left: none;
  border-right: none;
  text-align: center;
}
.testimonial .pic{
  display: inline-block;
  width: 100px;
  height: 100px;
  border-radius: 50%;
  margin-bottom: 20px;
  overflow: hidden;
}
.testimonial .pic img{
  width: 100%;
  height: auto;
}
.testimonial .title{
  display: block;
  margin: 0 0 7px 0;
  font-size: 20px;
  font-weight: 600;
  color: #ff0f17;
  letter-spacing: 1px;
  text-transform: uppercase;
}
.testimonial .post{
  display: block;
  font-size: 15px;
  color: #fff;
  text-transform: capitalize;
  margin-bottom: 20px;
}
.testimonial .description{
  font-size: 16px;
  color: #fff;
  line-height: 30px;
}
.owl-theme .owl-controls{ margin-top: 0; }
.owl-theme .owl-controls .owl-page span{
  background: #fff;
  opacity: 0.8;
  transition: all 0.3s ease 0s;
}
.owl-theme .owl-controls .owl-page.active span{ background: #ff0f17; }
.our-menu{
padding:20px 0;
}

#testimonial-slider{
padding: 10px 0;
background: #e4e4e436;
border-radius: 35px;
}
.our-menu h2 {
color:#fff;
}
.cont_clr2{
background: #5d5757  !important;
}
.cnt .contact-box h5 {
font-size: 20px;
color: #fff;
}
.bg-overlay-black-70:before {
background: rgba(0, 0, 0, 0.7);
content: "";
height: 100%;
left: 0;
position: absolute;
top: 0;
width: 100%;
z-index: -1;
}
#login-form form{
padding:18px;
}

.bg_clr .parallax .bg-overlay-black-70 :before{
background: rgba(0, 0, 0, 0.8) !important;
content: "";
height: 100%;
left: 0;
position: absolute;
top: 0;
width: 100%;
z-index: -1;
}

#login-form {
padding: 10px 0;
background: #fff;
color: #fff;
width: 75%;
margin: 40px 0;
position: absolute;
left: -52px;
}
.img_log{
border: 4px solid red;
  min-height: 425px;
}


/*#local-box{
position:absolute;margin:17% 0;
}
*/

.reg_btn1{

  text-align:right;width:100%;color:red;float:right;
}
.reg_btn1:focus,.reg_btn1:hover{
  outline:none;
  text-decoration:none;
  color:#7c2327;
}

.forgot_btn1{

  text-align:left;width:100%;color:red;float:right;font-size:15px;
}
.forgot_btn1:focus,
.forgot_btn1:hover{
  outline:none;
  text-decoration:none;
  color:#7c2327;
  
}
.section-title .reg_st span small{
  color:#fff;
  font-size: 14px;
}
#register-form form{
  padding:20px;
}
#newsletter{
  background: none;
    color: #000;
    border:none;
}
#newsletter.active:focus ,#newsletter:focus,#newsletter:active{
outline:none;
box-shadow:none;
}
#newsletter i{
  color:red;
}
#terms-condition{
  background: none;
    color: #000;
    border:none;
}
#terms-condition.active:focus ,#terms-condition:focus,#terms-condition:active{
outline:none;
box-shadow:none;
}
#terms-condition i{
  color:red;
}

#filter-search-form {
  margin-top:20px;
}
#filter-search-form .form-control{
  height: 40px;
  background: #e7e7e7;
}
.bottom_ul{
  margin: 20px 0 0;
}
.bottom_ul li a{
  border-bottom: 1px solid #e5e5e5;
  padding: 10px 0px;
  color: #999999;
}
.side_head{
  position: relative;
  display:block;
  padding:10px 2px;
}
.side_head .title-separator {
  position: relative;
}
.side_head h3:before {
  position: absolute;
  content: "";
  width: 40px;
  height: 2px;
  background: #db2d2e;
  
  bottom: 0px;
}

.locations-filter{
  background:rgba(245, 245, 245, 0.3803921568627451);
}
.bottom_ul li:last-child a{
  border-bottom:none;
}
.ht_stt .select2-container .select2-choice{
  height: 37px;
  line-height: 37px;
}
#reservation-form{
  padding: 20px;
}
#find-table-form .panel-heading{  border-color: #ada2a2;}


.banner_header{
  font-size: 55px;
  color: #fff;
}
.order_now{display:block;width:100%;text-align: center}
.order_btn {
  background: #ff0018;
  padding: 20px 50px;
  margin: 10px;
  color: #fff;
  border-radius: 3px;
  border: none;
  font-size: 15px;
}
.modal-body{padding:30px 15px;}
#order_now .modal-content{
  background-color: #131111;
}
.h2_sttt_order{
  padding-bottom: 5px;
  font-weight: 700;
  position: relative;
  margin-bottom: 0px;
  margin: 0;
  font-size: 30px;
}
.modal-header .close{      
  padding: 0 8px;
  border-radius: 50%;
  opacity: 0.9;
  color: #f5282a;
  font-size: 28px;
}
  .close:focus, .close:hover{
    color: #131010;
    background: none;
    text-shadow: 0 0 10px #080606;
  }

  .modal-footer{
    text-align:center;
 border-top: none ;
 padding:30px 15px;
  }
  .modal-footer a{
    color: #e01012;
    text-decoration:none;
  }
  .modal {
    z-index:9999;
  }

  .partial .text-muted i{
    color: #c10804;
  }
 #local-box {
    margin:17% 0;
    position: absolute;
    text-align:center;
}
  .out_div .content-left{
    background: rgba(230, 226, 226, 0.3803921568627451)
  }
  .partial .panel, .partial .panel-default > .panel-heading, .partial .panel-cart, #page-content .cart-total .table td, .panel-cart .location-control, .panel-cart .cart-coupon, #local-info .panel-local, .panel-local .panel-heading{
    border-color: #bbb5b5;
  }




.item_sec{
  position:relative;
  display:block;
  width:100%
}

.food_content {          margin: 5px;
  margin-top: -26px;
  background: #ffffff;
  position: relative;
  padding: 3px 9px 9px;
  box-shadow: 0 0 4px #ccc;
  text-align: justify;
  height: 100px; }

  .food_image .food_price {     font-size: 16px;
    font-weight: 600;
    background: #e93e21;
    display: inline-block;
    width: 60px;
    height: 60px;
    text-align: center;
    position: absolute;
    padding: 5px;
    border: 5px solid #e93e21;
    color: #fff;
    /* left: 20px; */
    box-shadow: 0px 0px 0px 1px #fff inset;
    top: 00px; }
.food_image .food_price span { font-size: 13px; font-weight: normal; display: block; }
.food_title h4{     
   text-align: center;
  font-weight: 500;
  text-transform: uppercase;
  margin: 0;
  padding: 5px;}
.food_image img{
  max-height: 200px;
  width: 100%;
}
.food_description .menu-button a{
  position: absolute;
  top: 0;
  right: 0;
  border-radius: 0;
  background: red;
  padding: 0px 5px;

}

.food_description .menu-button a span{
  color: #fff;
  font-size: 10px;
}
.food_description p{    text-align: center;
  color: #5f5d5d;}


  #food_list .galllery-item .overlay:after, #food_list .galllery-item .overlay:before{
    border: none;
    bottom: 0;
    content: "";
    left: 0;
    opacity: 0;
    position: absolute;
    right: 0;
    top: 0;

  }
  #food_list .galllery-item:hover .overlay{       background: rgba(0, 0, 0, 0.58);}
  #food_list  .overlay-content{
    top: 0;
    right: 0;
    left:0;
    width:100%;
    text-align: right;
  }
  #food_list .overlay-content a.portfolio-img{
    padding:0; margin:0
  }
  #food_list  .overlay-content a{
    padding:0;
  }
  #food_list .overlay-content a.portfolio-img i{
    background:none;
    line-height: 60px;
    color: #ffffff;
    font-weight: 900;
  }

  .test[style] {
    padding-right:0 !important;
}
.btn_sec{
  display: block;
  width: 100%;
  padding: 30px 0;
}
.btn_sec a:hover{
  text-decoration:none;
  color: #000;
    background: #fff;
}
.text_ft a{
  text-decoration:none;
}

/*---resposive--*/
@media only screen and (max-width: 1200px) {
 
  
  .step-item h4 {
    font-weight: 700;
    text-transform: uppercase;
    float: left;
    padding: 0px 7px;
    font-size: 11px;
    font-weight: bold;
    color: #1e2327;
    margin-top: 0px;
    line-height: 31px;
  }
  
  .background_images img {
    min-height: 350px;
    max-height:350px;
    width: 100%;
      }

  .object_right_img {
    position: absolute;
    right: 0;
    top: 587;
  }

.book-menu p {
font-size: 13px;
color: #524e4e;
text-align: center;
margin: 89px 0;
padding: 0 30px;
}
.book-menu img {
  max-height: 275px;
  display: table;
  margin: 0 auto;
}

.overlay-content h3, .overlay-content h3 a{font-size:18px;}
}

@media only screen and (max-width: 960px) {

  
  .contact .contact-box {
    display: block;
    margin:0;
  }
}
@media only screen and (max-width: 768px) {
  
  .object_right_img{display:none;}
  .icon_sec{display:none;}

.object_right_img {
  position: absolute;
  right: 0;
  top: 516px;
  width: 177px;
}
.book-menu img {
max-height: 307px;
display: table;
MARGIN: 0 AUTO;
}
.book-menu p{
margin: 30px 0;
}
.login_img{
  display:none;
}
#login-form{position: relative;margin:0;left:0;    margin: 0 auto;
  display: table;width:100%}

  .book-menu p {
  font-size: 13px;
  color: #524e4e;
  text-align: center;
  margin: 89px 0;
  padding: 0 30px;
  }
}
@media only screen and (max-width: 768px) {
 
  .icon_sec{
    display:none;
  }
 
 #local-box{
    position:absolute;margin:19% 0;
  }
  .object_right_img {
    position: absolute;
    right: 0;
    top: 516px;
    width: 177px;
  }
  .book-menu img {
  max-height: 307px;
  display: table;
  MARGIN: 0 AUTO;
  }
  .book-menu p{
  margin: 30px 0;
  }
  .login_img{
    display:none;
  }
  #login-form
  {
    position: relative;margin:0;
    left:0;    margin: 0 auto;
    display: table;width:100%
  }

  


.h2_col{    padding: 35px 0;}
.h2_sttt{    font-size:35px;}
.about-content p, .section-title p{ font-size: 11px; font-weight: bold;}

.book-menu p{margin:20px 0;padding:0 10px;}
.book-menu{margin-bottom:0}
.testimonial{    padding: 35px 0px;}
.section-title .reg_st span small{
  font-size: 10px;
    width: 100%;
    display: block;
    padding:10px 0;
}

}
@media only screen and (max-width: 767px) {
.contact-box {
  width: 100%;
  float: left;
}
  #main-header .navbar-toggle{
    background: red;
    color:#fff;
  }
  #main-header .navbar-nav {
    margin: 0;
    background: #e43d3d;
    border-top: 4px solid #b70208;
    text-align: center;
}
#main-header .navbar-nav > li > a {
  color: #fff!important;
  font-size: 15px;
}
.section-title{
  padding: 0 10px;
}
.reg_btn1 {
   text-align: left;
  width: 100%;
  color: red;
  float: left;
  padding: 10px 0;
  font-size: 15px;
}
.background_images img {
  min-height: 350px;
  max-height:350px;
  width: 100%;
    }
    .overlay-content h3{display:none;}
    .overlay-content a{display:none;}
    .overlay-content .portfolio-img{display:none;}
    .order_btn{
      width:100%;
    }
    
    .galllery-item:hover .overlay:before, .galllery-item:hover .overlay:after{display:none}
    .galllery-item:hover .overlay:before, .galllery-item:hover .overlay:after{ display:none; }
    .isotope-filters button{ margin-right:0;padding: 10px 6px;}
    .columns-4 .grid-item { width: 33.3%; padding: 0px; }
    
}
.fullout_div{
  width: 50%;
  float: left;
  /* margin: 0 5px 0 0; */
  padding: 0 2px;
}

.cnt_div{
  float: left;
}

.nav-pills>li.active>a, .nav-pills>li.active>a:focus, .nav-pills>li.active>a:hover{
  background-color: #c10804;
  color:#fff;
}

.nav-pills>li.active>a p{
  color: #fff;
}
#checkout p{color:red;}
#checkout .form-group label{color:#333;font-weight:500}
#checkout p a{color:#c10804;}
#checkout .btn-primary.active{
  background-color: #c10804;color:#fff;
}
#payment .form-group{
  color:#000;
}
#checkout-form{
  background: #fff;
  box-shadow: 0 0 5px #ccc;
  padding: 10px;
}
.btn_chk .input-group-addon{ background:none;}
.btn_chk .btn{background:none;border:none;}
.btn_chk .btn:hover{background:none;border:none;color:#333;}
.btn_chk i{color:red;}
.clr_prog{color:#333;}.clr_prog1{color:#c10804;}
.clr_prog tr td{color:#333;}
.pan_head{background-color: #5d5757 !important;color:#fff !important}
.clr_prog p{color:#333}
.btn-menus{ background-color: #fbdfdf  !important;}
#local-alert .alert p{    padding: 15px;
  text-align: center;
  font-size: 15px;}
  #local-alert .alert button{opacity:1 !important;line-height: 0.35px;}
  #main-header .navbar-nav > li > a.active{background:red}
  #map_home .gm-style .gm-style-iw-c{       padding: 15px !important;
    /* text-align: center !important; */
    line-height: 20px;
}
#payment .list-group-item{padding:0}
#payment .radio{margin:0}